<!DOCTYPE html>
<html lang="en">
    <%- include("partials/header.ejs")%>

<body>
    <div class="container py-1">
    <div class="row justify-content-center align-items-center mt-4">
    <div class="col-12 col-md-4">
    <div class="card vert text-center">
        
        <div class="card-body">
          <img src="verified.png" alt="verified sign">
          <p class="card-text py-5">Your Post Has Been Successfully Added!</p>
          <a href="/post" class="btn btn-primary ">+ Add Post</a>
          <a href="/" class="btn btn-primary ">Home Page</a>
        </div>
        
      </div>
      </div>
      </div>
      </div>
    
    <%- include("partials/footer.ejs")%>
</body>
</html>
